<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>angular js</title>
    <script src="angular.min.js"></script>
    <script src="newjs.js"></script>
    <style>
        .product {
            border: black solid;
            width: 100px;
            float: left;
        }

        .cart {
            float: left;
            border: black solid;
            margin-left: 20px;
            width: 200px;

        }

    </style>

</head>
<body ng-app="myapp">
<div ng-controller="mycontroller">


    <div ng-repeat="item in products" class="product">
        <p>{{item.name}}</p>
        <p>{{item.price}}</p>
        <input type="button" value="add to cart" ng-click="addtocart(item)">
    </div>
    <div class="cart">
        <h3>cart</h3>
       <div ng-repeat="item in cart">

        <p>{{item.name}}-- <input type="number " ng-value="produvt.qty"></p>
    </div>
    </div>
<div>
    <h3>Total: {{totalprice}}</h3>

</div>

</div>
</body>
</html>